// ------------------------------------------------------
// break point
// ------------------------------------------------------
$mq-xs: '(max-width: 480px)';
$mq-sm: '(min-width: 600px)';
$mq-md: '(min-width: 960px)';
$mq-lg: '(min-width: 1240px)';

// ------------------------------------------------------
// color
// ------------------------------------------------------
$orange1: #FF9300;
$orange2: #FFF4E5;
$blue: #007EFC;
$gray: #7E7E7E;
$tableTh: #F5F5F5;
$border: #CECECE;
$disableTxt: #BABABA;
$white:#fff;
$black:#000;