@use '../global'as *;

// -----------------------------------------------------------------
// ボタン baseStyle
// -----------------------------------------------------------------
.md-btn {
  box-sizing: border-box;
  display: inline-block;
  padding: 5px 10px;
  line-height: 1;
  color: #fff;
  text-decoration: none;
  background-color: $orange1;

  @include transition;

  &:hover {
    text-decoration: none;
    background-color: darken($orange1, 5%);
  }
}

.md-btn-white {
  box-sizing: border-box;
  display: inline-block;
  padding: 5px 10px;
  line-height: 1;
  background-color: #fff;

  @include transition;

  &:hover {
    text-decoration: none;
    background-color: darken(#fff, 5%);
  }
}


// -----------------------------------------------------------------
// 言語選択用ボタン
// -----------------------------------------------------------------
// layout
.md-lang-btn {
  display: flex;
}

.lang-btn {
  input[type="radio"] {
    position: absolute;
    opacity: 0;
    appearance: none;
  }

  .lang-label {
    display: inline-block;
    width: 2.5em;
    line-height: 20px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 3px 6px rgb(0 0 0 / 16%);
    
    @include transition;
    @include font-rem(14);
    
    &.lang-label--en {
      border-radius: 3px 0 0 3px;
    }

    &.lang-label--cn {
      border-radius: 0 3px 3px 0;
    }

    &:hover {
      cursor: pointer;
    }
  }

  input[type="radio"]:checked + .lang-label {
    background-color: #CECECE;
  }
}