@use '../global'as *;

// -----------------------------------------------------------------
// フォント関係
// -----------------------------------------------------------------
.md-bold {
  font-weight: bold;
}

.md-bolder {
  font-weight: 500;
}

.md-blue {
  color: $blue;
}