@use '../global' as *;

// -----------------------------------------------------------------
// contact
// -----------------------------------------------------------------

.pg-contact-title h2 {
    @media #{$mq-md} {
        margin-left: -52rem;
       }
}

.pg-contact_text {
    @include font-rem(14);
    line-height: calc(23 / 14);
    @media #{$mq-md} {
       text-align: center;
      }
}

.pg-contact-form {
    margin-top: 45px;
    margin-bottom: 68px;
    @media #{$mq-md} {
        max-width: 486px;
        margin-inline: auto;
        margin-top: 68px;
        margin-bottom: 151px;
       }
}

.pg-contact-form-item {
    @include font-rem(14);
    line-height: calc(23 / 14);
}

.pg-contact-form-item:nth-child(n+2) {
    margin-top: 34px;
}

.pg-contact-form-item-input {
    width: 100%;
    margin-top: 9px;
}

.pg-contact-form-item-label-required {
    color:$orange1;
}

.pg-contact-form-item-input {
    border:1px solid #CECECE;
    @include font-rem(14);
    line-height: calc(23 / 14);
    padding:5.5px 10px;
}

.pg-contact-form-item-textarea {
    min-height:225px;
    width: 100%;
    border:1px solid #CECECE;
    @include font-rem(14);
    line-height: calc(23 / 14);
    padding:5.5px 10px;
    margin-top: 9px;
}

.contact-cnk {
    margin-top: 48px;
    @include font-rem(14);
    line-height: calc(23 / 14);
    display: flex;
    align-items: center;
    justify-content: center;
    gap:0 7px;
}

.contact-cnk a {
    text-decoration:revert;
}

.contact-cnk-label {
    cursor: pointer;
}

.contact-cnk-box {
    cursor: pointer;
    appearance: none;
    border-radius: 0;
}

.contact-cnk-box[type="checkbox"] {
    position: relative;
    width: 19px;
    height: 19px;
    border: 1px solid #CECECE;
    vertical-align: -5px;
  }
  
  .contact-cnk-box[type="checkbox"]:checked:before {
    position: absolute;
    top: 1px;
    left: 6px;
    transform: rotate(50deg);
    width: 6px;
    height: 11px;
    border-right: 2px solid $orange1;
    border-bottom: 2px solid $orange1;
    content: "";
  }

  .pg-contact-form-btn {
    appearance: none;
    border: 0;
    background-color: $orange1;
    color: $white;
    text-align: center;
    width: 100%;
    border-radius: 3px;
    padding:18px 0;
    @include font-rem(16);
    line-height: calc(22 / 16);
    margin-top: 42px;
    transition: 0.3s;
    &:hover {
        background-color: darken($orange1, 5%);
      }
  }