@use '../global'as *;

// -----------------------------------------------------------------
// モーダル
// -----------------------------------------------------------------

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #707070;
  opacity: .6;
  display: none;
  z-index: 0;
  top: 0;
  left: 0;
  right: 0;
}

.modal {
  width: 100%;
  max-width: 95%;
  position: fixed;
  top:120px;
  left: 50%;
  text-align: left;
  transform: translateX(-50%);
  background: #fff;
  display: none;
  padding:0 30px 40px 30px;
  @media #{$mq-md} {
    max-width: calc(1000 / 1500 * 100vw);
    padding:0 80px 53px 80px;
    top: 85px;
   }
}

.modal-title {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  max-width:190px;
  @media #{$mq-md} {
    max-width:calc(379.77/1500*100vw);
  }
}

.modal-close__wrap {
  position: absolute;
  right: 24.8px;
  top: 16.5px;
  @media #{$mq-md} {
    right: 35.8px;
    top: 33.5px;
  }
}

.modal-close {
  padding: 0;
  margin: 0;
  cursor: pointer;
  width: 16.32px;
  display: block;
  height: 16.32px;
  appearance: none;
  outline: none;
  border: none;
  background: none;
  @media #{$mq-md} {
    width: 25.32px;
    height: 25.32px;
  }
}

.modal-open {
  cursor: pointer;
  background: orange;
  border: orange;
  color: #fff;
  padding: 10px 12px;
}

.modal p {
  z-index: 10;
  @include font-rem(16);
  line-height: calc(23 / 16);
  width: 100%;
  margin-top: 78px;
  @media #{$mq-md} {
    @include font-rem(23);
    line-height: calc(35 / 23);
    margin-top: 128px;
   }
}

.modal_video {
  width: 100%;
  margin-top: 39px;
  video {
    width: 100%;
    max-width: 100%;
  }
}

.overlay.open {
  display: block;
}

.modal.open {
  display: block;
}

/* ---------------------------- */
/* --- News Details Modal --- */
/* ---------------------------- */
.swiperModalButton {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-around;
}

/* モーダル */
.news-modal {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100vh;
padding: 20px;
display: flex;
align-items: center;
justify-content: center;
transition: opacity 0.3s;
pointer-events: none;
opacity: 0;
z-index: 100;
background-color: rgba(112, 112, 112, 0.2);
@media #{$mq-md}  {
  padding: 30px;
}
}

/* モーダルがactiveの時 */
.news-modal.is-active {
opacity: 1;
pointer-events: auto;
}

/* モーダル背景のオーバーレイ部分 */
.news-modal__overlay {
position: absolute;
width: 100%;
height: 100%;
cursor: pointer;
}

/* モーダルのコンテンツ */
.news-modal__content {
  position: relative;
  width: 100%;
  max-width: 900px;
  padding: 15px;
  background-color: #fff;
  @media #{$mq-md} {
    padding: 45px;
  }
}
.news-modal_inner {
  filter: drop-shadow(0px 0px 4px #ddd);
  background: #FFF;
  width: 90%;
  margin: 0 auto;
  border-radius: 2px;
  padding: 20px 10px;
  @media #{$mq-md}  {
    padding: 20px 25px;
  }
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

/* 閉じるボタン */
.news-modal-close-btn {
  position: absolute;
  right:-15px;
  top: -15px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  z-index: 20;
  img {
    width: 100%;
    height: 100%;
  }
  @media #{$mq-md} {
    right:-30px;
    top: -30px;
    width: 60px;
    height: 60px;
  }
}
.news-modal-close-btn:hover {
  opacity: 0.8;
}
p.swiperText {
  margin: 0;
  text-align: center;
}

.swiperText img {
  width: 100%;
}

.swiper-arrow {
  width:40px;
  height:40px;
  img {
    width: 100%;
    height: 100%;
  }
  @media #{$mq-md}  {
    width:60px;
    height:60px;
  }
}

.swiper-button-next {
  right:-20px;
  @media #{$mq-md} {
    right:-30px;
  }
}

.swiper-button-prev {
  left:-20px;
  @media #{$mq-md} {
    left:-30px;
  }
}

.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
  display: none;
}

.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
  display: none;
}